<?xml version="1.0" encoding="utf-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	 <!--<localRepository>D:/repo/maven</localRepository> -->
   <servers>
        <server>
            <id>nexus-server@public</id>
            <username>deployment</username>
            <password>deployment1234</password>
        </server>
        <server>
            <id>nexus-server@public-snapshots</id>
            <username>deployment</username>
            <password>deployment1234</password>
        </server>
        <server>
            <id>mirror-all</id>
            <username>mvnread</username>
            <password>mvnread123</password>
        </server>
        <server>
            <id>mirror-local</id>
            <username>admin</username>
            <password>Admin1234</password>
        </server>
    </servers>
    <mirrors>
    <!--    <mirror>
            <id>mirror-all</id>
            <mirrorOf>*</mirrorOf>
            <name>mirror</name>
            <url>http://mvn.cloud.alipay.com/nexus/content/groups/public</url>
        </mirror>-->
        <mirror>
            <id>mirror-local</id>
            <mirrorOf>*</mirrorOf>
            <name>mirror_local</name>
            <url>http://10.253.103.73:8081/nexus/content/groups/public</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>nexus-server@public</id>
                    <url>http://10.253.103.73:8081/nexus/content/repositories/releases</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>nexus-server@public-snapshots</id>
                    <url>http://10.253.103.73:8081/nexus/content/repositories/snapshots</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>nexus-server@public</id>
                    <url>http://10.253.103.73:8081/nexus/content/repositories/releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                        <updatePolicy>never</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
